<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <link rel="shortcut icon" th:href="@{/img/favicon.ico}">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Rocket <sup style="font-size: .50em"><br>friends only</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->
            <div class="sidebar-heading">
                public
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages1"
                    aria-controls="collapsePages1">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Filters</span>
                </a>
                <div id="collapsePages1" class="collapse"
                     aria-labelledby="headingPages " data-parent="#accordionSidebar"
                     >
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Categories:</h6>
                        <div th:each="category : ${categories}">
                            <a class="collapse-item" th:href="@{'/' + '?category=' + ${category.id}}" th:text="${category.title}"></a>
                        </div>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!--Admin menu-->
            <div th:each="authority : ${#authentication.getAuthorities()}">
                <div th:if="${authority.getAuthority() == T(com.example.forum.model.Role).ROLE_MODERATOR.name()
                or authority.getAuthority() == T(com.example.forum.model.Role).ROLE_ADMIN.name() or
                        authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name()}">
                    <!-- Divider -->
                    <hr class="sidebar-divider">
                    <div class="sidebar-heading">
                        admin
                    </div>
                </div>

            </div>


            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages2"
                   aria-controls="collapsePages2">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages2" class="collapse"
                     aria-labelledby="headingPages " data-parent="#accordionSidebar"
                >
                    <div class="bg-white py-2 collapse-inner rounded">
                        <div th:each="authority : ${#authentication.getAuthorities()}">
                            <div th:if="${authority.getAuthority() == T(com.example.forum.model.Role).ROLE_MODERATOR.name()
                            or authority.getAuthority() == T(com.example.forum.model.Role).ROLE_ADMIN.name()
                            or authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name()}">
                                <h6 class="collapse-header">Users:</h6>
                                <a class="collapse-item" th:href="@{/user/management}">User management</a>
                            </div>

                            <div class="collapse-divider"></div>
                            <div th:if="${authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name()}">
                                <h6 class="collapse-header">Enterprises:</h6>
                                <a class="collapse-item"
                                   th:href="@{/enterprises}">Enterprise management</a>
                                <div class="collapse-divider"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <section layout:fragment="topbar-search"></section>

                    <!-- Topbar user info navigation -->
                    <div th:replace="layouts/user-info"></div>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <!-- Content Section -->
                <section layout:fragment="content">
                    <p>This is filled by the content template.</p>
                </section>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/js/jquery.easing.min.js}"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>
</body>

</html>