<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Login - Rocket</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{css/sb-admin-2.min.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <link th:href="@{/img/favicon.ico}" rel="shortcut icon" >

    <style>
        .background-login-image {
            background-image: url('/img/login-image.jpg');
            background-position: center;
            background-size: cover;
        }
        .form-select {
            display: block;
            width: 100%;
            padding: 0.375rem 2.25rem 0.375rem 0.75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            appearance: none;
        }
    </style>

</head>

<body class="bg-gradient-primary">

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block background-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="d-flex flex-column justify-content-center">
                                    <h1 class="h1 text-center">Fill the form</h1>
                                    <form th:action="@{/registry}" method="post" th:object="${user}">
                                        <div class="form-group ml-auto mr-auto w-75 w-sm-25" >
                                            <label class="form-label" for="currPass">Usename</label>
                                            <input type="text" class="form-control" id="currPass" th:field="*{username}">
                                            <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
                                        </div>
                                        <div class="form-group ml-auto mr-auto w-75 w-sm-25">
                                            <label class="form-label" for="email">Email</label>
                                            <input type="text" class="form-control" id="email" th:field="*{email}">
                                            <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                                        </div>

                                        <div class="form-group ml-auto mr-auto w-75 w-sm-25">
                                            <label class="form-label" for="password">Password</label>
                                            <input type="password" class="form-control" id="password" th:field="*{password}">
                                            <small id="passwordHelpBlock" class="form-text text-primary">
                                                Your password must be 5-16 characters.
                                            </small>
                                            <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
                                        </div>
                                        <div class="form-group ml-auto mr-auto w-75 w-sm-25">
                                            <label class="form-label" for="confirmPassword">Confirm password</label>
                                            <input type="password" class="form-control" id="confirmPassword" th:field="*{confirmPassword}">
                                            <small id="confirmPasswordHelpBlock" class="form-text text-primary">
                                                Your password must be 5-16 characters.
                                            </small>
                                            <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"/>
                                        </div>
                                        <div class="form-group w-75 w-sm-25 d-flex flex-row mr-auto mb-3 ml-auto ">
                                            <label class="input-group-text" for="inputGroupSelect01">Enterprise</label>
                                            <select class="form-select" id="inputGroupSelect01"
                                                    th:field="*{enterpriseName}">
                                                <option th:each="enterprise : ${enterpriseNames}"
                                                        th:value="${enterprise}" th:text="${enterprise}"></option>
                                            </select>
                                            <small th:if="${#fields.hasErrors('enterpriseName')}"
                                                   th:errors="*{enterpriseName}"/>
                                        </div>
                                        <div class="form-group ml-auto mr-auto w-75 w-sm-25">
                                            <button id="buttPassChange" type="submit"
                                                    class="btn btn-primary mb-3 ml-auto mr-auto w-100">Execute
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

</body>

</html>