<!doctype html>
<html lang="en"
      layout:decorate="~{layouts/blank}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
</head>
<body>
<div layout:fragment="topbar-search">
    <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            th:action="@{/user/management}" method="get">
        <div class="input-group">
            <input type="text" th:attr="name='searchValue'" class="form-control bg-light border-0 small"
                   placeholder="Username or email..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div layout:fragment="content">
    <div class="container d-flex flex-column">
        <button class="border-0 btn-primary btn ml-auto mb-2"
                th:onclick="'window.location.href=\'' + @{/user/add} + '\''">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus"
                 viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </button>
        <div class="table-responsive">

            <table class="table align-middle">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Activities</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <th scope="row" th:text="${user.id}"></th>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.status}"></td>
                    <td class="d-flex" th:if="${user.id} != ${jwtResponse.id}"
                        th:each="authority : ${#authentication.getAuthorities()}">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div th:if="${authority.getAuthority() == T(com.example.forum.model.Role).ROLE_MODERATOR.name()}">
                                    <form th:if="${user.status == T(com.example.forum.model.Status).BANNED and
                            user.role == T(com.example.forum.model.Role).ROLE_USER}" th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden" th:value="${T(com.example.forum.model.Status).ACTIVE}"
                                               th:attr="name='userStatus'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">Unban</button>
                                    </form>
                                    <form th:if="${user.status == T(com.example.forum.model.Status).ACTIVE and
                            user.role == T(com.example.forum.model.Role).ROLE_USER}" th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden" th:value="${T(com.example.forum.model.Status).BANNED}"
                                               th:attr="name='userStatus'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">Ban</button>
                                    </form>
                                </div>

                                <div th:if="${authority.getAuthority() == T(com.example.forum.model.Role).ROLE_ADMIN.name()
                                        or authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name()}">
                                    <form th:if="${user.status == T(com.example.forum.model.Status).BANNED}"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden" th:value="${T(com.example.forum.model.Status).ACTIVE}"
                                               th:attr="name='userStatus'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">Unban</button>
                                    </form>
                                    <form th:if="${user.status == T(com.example.forum.model.Status).ACTIVE}"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden" th:value="${T(com.example.forum.model.Status).BANNED}"
                                               th:attr="name='userStatus'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">Ban</button>
                                    </form>
                                    <form th:if="${user?.role == T(com.example.forum.model.Role).ROLE_MODERATOR or user?.role == null}"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden" th:value="${T(com.example.forum.model.Role).ROLE_USER}"
                                               th:attr="name='userRole'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">To User</button>
                                    </form>
                                    <form th:if="${user?.role == T(com.example.forum.model.Role).ROLE_USER}"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden"
                                               th:value="${T(com.example.forum.model.Role).ROLE_MODERATOR}"
                                               th:attr="name='userRole'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">To Moderator</button>
                                    </form>

                                    <form th:if="${user?.role == T(com.example.forum.model.Role).ROLE_MODERATOR
                                    and authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name() }"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden"
                                               th:value="${T(com.example.forum.model.Role).ROLE_ADMIN}"
                                               th:attr="name='userRole'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">To Admin</button>
                                    </form>

                                    <form th:if="${user?.role == T(com.example.forum.model.Role).ROLE_ADMIN
                                    and authority.getAuthority() == T(com.example.forum.model.Role).ROLE_SUPER_ADMIN.name() }"
                                          th:method="put"
                                          class="mr-3" th:action="@{/user/{id}(id=${user.id})}">
                                        <input type="hidden"
                                               th:value="${T(com.example.forum.model.Role).ROLE_MODERATOR}"
                                               th:attr="name='userRole'"/>
                                        <input type="hidden" th:value="${user.email}"
                                               th:attr="name='email'"/>
                                        <button type="submit" class="dropdown-item">To Moderator</button>
                                    </form>

                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalDelete"
                                       th:attr="data-target='#modalDelete'+${user.id}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </td>

                    <!-- delete-Modal -->
                    <div class="modal fade" th:id="modalDelete+${user.id}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete User</h5>

                                    <!-- X close modal -->
                                    <button class="border-0" style="color:unset; background-color:transparent;"
                                            data-dismiss="modal">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                 fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this user?
                                </div>
                                <div class="modal-footer">
                                    <form th:method="delete" class="mr-3"
                                          th:action="@{/user/{id}(id=${user.id})}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>