<!doctype html>
<html lang="en"
      layout:decorate="~{layouts/blank}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel="stylesheet" th:href="@{/css/custom-style.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div layout:fragment="topbar-search">
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
          th:action="@{/enterprises}" method="get">
        <div class="input-group">
            <input type="text" th:attr="name='searchValue'" class="form-control bg-light border-0 small"
                   placeholder="Enterprise name..."
                   aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div layout:fragment="content">
    <div class="container d-flex flex-column">
        <button class="border-0 btn-primary btn ml-auto mb-2" data-toggle="modal" data-target="#modalAdd"
                th:attr="data-target='#modalAdd'">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus"
                 viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
        </button>

        <div class="table-responsive">
            <table class="table align-middle">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="enterprise : ${enterprises}">
                    <th scope="row" th:text="${enterprise.id}"></th>
                    <td th:text="${enterprise.name}"></td>
                    <td th:text="${enterprise.email}"></td>
                    <td class="d-flex">
                        <a data-toggle="modal" data-target="#modalDelete"
                           th:attr="data-target='#modalDelete'+${enterprise.id}"
                           style="cursor: pointer; color: red">
                            <svg width="20" height="20" fill="currentColor" class="bi bi-trash"
                                 viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"></path>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"></path>
                            </svg>
                        </a>
                    </td>


                    <!-- delete-Modal -->
                    <div class="modal fade" th:id="modalDelete+${enterprise.id}" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete enterprise</h5>

                                    <!-- X close modal -->
                                    <button class="border-0" style="color:unset; background-color:transparent;"
                                            data-dismiss="modal">
                                        <div>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                                                 fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this enterprise?
                                </div>
                                <div class="modal-footer">
                                    <form th:method="delete" class="mr-3"
                                          th:action="@{/enterprises/{id}(id=${enterprise.id})}">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- add-enterprise-Modal -->
        <div class="modal fade" th:id="modalAdd" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add enterprise</h5>

                        <!-- x close modal -->
                        <button class="border-0" style="color:unset; background-color:transparent;"
                                data-dismiss="modal">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                     class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                </svg>
                            </div>
                        </button>
                    </div>
                    <form th:action="@{/enterprises/add}" th:method="post" th:object="${enterpriseToSave}">
                        <div class="modal-body">
                            <div class="d-flex flex-column justify-content-center">
                                <div class="form-group w-25 ml-auto mr-auto">
                                    <label class="form-label" for="name">Name</label>
                                    <input type="text" class="form-control" id="name" th:field="*{name}">
                                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
                                </div>
                                <div class="form-group w-25 ml-auto mr-auto">
                                    <label class="form-label" for="email">Email</label>
                                    <input type="text" class="form-control" id="email" th:field="*{email}">
                                    <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <script th:inline="javascript" th:if="${showAddForm}">
            let showAddForm = /*[[${showAddForm}]]*/ 'default';
            if (showAddForm) {
                $(document).ready(function () {
                    $("#modalAdd").modal("show");
                });
            }
        </script>
    </div>
</div>
</body>
</html>